/*
-------------------------------------------------------------------------------------------------------------------------------
Late Blooming Effects Studio - The Cascading Style Sheets
-------------------------------------------------------------------------------------------------------------------------------
*/
a						{	
							text-decoration:none;
						}
body					{
				
							color:#0000ff;
							font-family:"Trebuchet MS",sans-serif;
							text-align:center;
						}
#bookUpdate				{
							
							border-radius:10px;
							display:inline-block;
							padding-bottom:100px;
							padding-left:0px;
							padding-right:0px;
							padding-top:0px;
							width:250px;
						}
footer					{
							bottom:16px;
							border-bottom-left-radius:20px;
							border-bottom-right-radius:20px;
							position:relative;
							width:540px;
						}
#footContent			{
							border-bottom-style:solid;
							border-left-style:solid;
							border-right-style:solid;
							border-width:1px;
						}
#gameUpdate				{
							border-radius:10px;
							display:inline-block;
							padding-bottom:100px;
							padding-left:0px;
							padding-right:0px;
							padding-top:0px;
							margin-top:3px;
							margin-left:0px;
							width:250px;
						}
header					{
							border-top-left-radius:20px;
							border-top-right-radius:20px;
							position:relative;
							width:540px;
							top:16px;
						}
#headContent			{
							border-left-style:solid;
							border-right-style:solid;
							border-top-style:solid;
							border-width:1px;
						}
h2						{
							display:inline;
						}
li						{
							background-color:#00FFFF;
							border-radius:5px;
							display:inline-block;
							list-style:none;
							margin:2px 0px;
							padding:0px;
							position:relative;
							width:150px;
						}
#loadScreen				{
							color:#000000;
						}
#menuLinks				{
							background-color:#00DDFF;
							bottom:21px;
							display:none;
							position:relative;
						}
#myStoryLink			{
							opacity:0.0;
							transition-duration:1.5s;
							transition-timing-function:ease-in-out;
						}
#myStoryLink:hover		{
							opacity:1.0;
						}
#myStoryBegins			{
							background:-webkit-gradient(linear, left top, right top,
							color-stop(0%,#000000),color-stop(50%,#0000FF),color-stop(100%,#000000));
							border-radius:125px;
							color:#0062FF;
							display:inline;
							padding-bottom:90px;
							padding-left:10px;
							padding-right:10px;
							padding-top:90px;
							position:relative;
							bottom:150px;
						}
nav						{	
							display:inline-block;
							margin-bottom:2px;
							position:relative;
						}
nav:hover #menuLinks	{
							bottom:0px;
							display:block;
							height:45px;
							position:relative;
							width:525px;
}
#position				{
							border-style:none;
							display:inline-block;
						}
#poemUpdate				{
							border-radius:10px;
							display:inline-block;
							padding-bottom:100px;
							padding-left:0px;
							padding-right:0px;
							padding-top:0px;
							width:250px;
						}
ul						{
							background-color:#00DDFF;
							border-radius:5px;
							display:inline-block;
							height:20px;
							margin:1px 0px;
							padding:0px;
							position:relative;
							width:150px;			
						}
ul a					{
							text-decoration:none;
						}
section					{
							margin:0px;
							padding-bottom:0px;
							padding-left:0px;
							padding-right:0px;
							padding-top:10px;
							width:540px;
						}
#sectContent			{
							border-left-style:solid;
							border-right-style:solid;
							border-width:1px;
						}
#videoUpdate			{
							border-radius:10px;
							display:inline-block;
							padding-bottom:100px;
							padding-left:0px;
							padding-right:0px;
							padding-top:0px;
							width:250px;
						}
