/*
------------------------------------------------------------------
My Story Begins - The Cascading Style Sheet
------------------------------------------------------------------
*/
#appContent1	{
					border-style:solid;
					border-width:1px;
					display:inline-block;
					position:relative;
					text-align:center;
					left:32.5%;
					width:34%;
				}
#appContent2	{
					border-style:solid;
					border-width:1px;
					display:block;
					margin-top:0px;
					padding:0px;
					position:relative;
					text-align:center;
					left:31.5%;
					width:36%;
				}
#appProduct		{
					border-style:solid;
					border-width:1px;
					display:inline-block;
					position:relative;
					text-align:center;
					left:8.5%;
					width:84%;
				}
#description	{
					border-style:solid;
					border-width:1px;
					display:inline-block;
					margin-bottom:2%;
					left:10%;
					position:relative;
					width:80%;
				}
#letterSet01	{
					border-style:solid;
					border-width:1px;
					display:inline-block;
					height:7.9em;
					margin-top:10px;
					position:relative;
					left:2%;
					text-align:center;
					width:23%;
				}
#letterSet02	{
					border-style:solid;
					border-width:1px;
					display:inline-block;
					height:7.9em;
					margin-top:10px;
					position:relative;
					left:2%;
					text-align:center;
					width:23%;
				}
#letterSet03	{
					border-style:solid;
					border-width:1px;
					display:inline-block;
					height:7.9em;
					margin-top:10px;
					position:relative;
					left:2%;
					text-align:center;
					width:23%;
				}
#letterSet04	{
					border-style:solid;
					border-width:1px;
					display:inline-block;
					height:7.9em;
					margin-top:10px;
					position:relative;
					left:2%;
					text-align:center;
					width:23%;
				}
footer	{
			border-style:solid;
			border-width:1px;
			display:inline-block;
			position:relative;
			left:25%;
			width:50%;
		}
header	{
			border-style:solid;
			border-width:1px;
			display:inline-block;
			position:relative;
			left:25%;
			width:50%;
		}
h1		{
			border-style:solid;
			border-width:1px;
			display:inline-block;
			position:relative;
			text-align:center;
			left:32.5%;
		}

section	{
			border-style:solid;
			border-width:1px;
			display:inline-block;
			position:relative;
			left:25%;
			width:50%;
		}
#username	{
					border-style:solid;
					border-width:1px;
					display:block;
					position:relative;
					text-align:center;
					left:28.5%;
					width:42%;
			}
